/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* var value */
:root {
    --color-1: whitesmoke;
    --liner-color: linear-gradient(315deg, #485461 0%, #28313b 74%);
    --border:3px solid black;
}
/* genral styleing */
body {
    font-family: 'Poppins', sans-serif;
     background: #eff1f7; 
}
/* applying Grid */
.content {
    grid-area: content;
    border-bottom: 3px solid black;
}

.contat{
    grid-area: contat;
    background: #eff1f7;
}
.navbar {
    grid-area: sidebar;
    background-color: #485461;
background-image: var(--liner-color);
justify-content: center;
}

.contaniner {
    font-size: 1.5me;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-area: "navbar" "content" ".contat";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
}

.content, .navbar, .contat, .cards {
    padding: 1em;
}
/* navbar styling */
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav li {
    list-style: none;
    padding: 1me 0;
}

nav li a {
    color: var(--color-1);
    font-weight: 700;
    opacity: .6;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 1;
}
/* About me styling section  */
.hero { 
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.hero img {
    width: 200px;
    border-radius: 100%;
}
.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}

.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #98a0ad;
    text-justify:newspaper;
}
 
.action-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--color-1);
    font-weight: 700;
    background: #5e5d66;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}

.action-btn:hover {
    box-shadow: 0 10px 50px rgba(93, 102, 94, 1);
}
/* My Projct styling section */
.wrok {
    background: darkgray;
    border-bottom: var(--border);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    
    gap: 1.5rem;
    padding: 3rem;
    justify-content: center;


}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    max-width: 100%;
    background: var(--color-1);
    overflow: hidden;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 2px 14px rgba(black, .4);
    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: 3px 2px 14px rgba(93, 102, 94, 1);
}

.card__img {
    flex: 0 0 200px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__img h3 {
    position: relative;
    top: 30px;
    right: 40;
    width: 100px;

    text-align: center;
    border: 2px solid ;
    background: #c1c6ce;
    font-size: .90rem;
    font-weight: 400;

}

/* Contact styling section */
.contat {
    border-top: var(--border);
}

.contact ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.contact ul li {
    list-style: none;
    align-self: flex-end;
}

.contact ul li a {
    text-decoration: none;
    color: #c1c6ce;
}

svg {
    width: 40%;
}

footer {
    color: var(--color-1);
    text-align: center;
    grid-area: sidebar;
    background-color: #485461;
background-image: var(--liner-color);
justify-content: center;
}

@media (min-width: 1040px)
{
    .first {
        flex: 1 0 100%;
        max-width:none;    
    }
    .first div {
        width: 100%;
    }
 
    .contaniner {
        grid-template-areas:
        "navbar content"
        "navbar contat";
    }
    nav ul {
        display: flex;
        justify-content: space-between ;
        flex-direction: row;
    }
    .navbar {
        background: linear-gradient(315deg, #485461 0%, #28313b 74%);
        padding-top: 3em;   
    }
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 2em auto;
    }
    .hero img {
        background-position: center;
        width: 250px;
        

    }
    .hero h1 {
        text-align: center;
        font-size: 3em;
    }
    .hero p {
        text-align: center;
        width: 100%;
    }
    .contact ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 2em o;
    }
    svg {
        width: 20%;
    }

    

}


