/* all the varibel  */
:root {
    --min-background-color: #92cbcd ;
    --text-coloer: whitesmoke;
    }
    
    * {
      box-sizing: border-box;
    }
    
    body {
      background: #edeef6;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:  10px 10px 10px 0;
      background:#31343d;
      color: black;
      
    }
     header h1 {
       font-size: 200%;
       background-color:var(--min-background-color);
       align-items: center;
       margin-left: 20px ;
       padding-left: 10px;
       padding-right: 1%;
    
     }
    
     header span {
       color: var(--text-coloer);
     }
    
     
    .navebar ul {
      display: flex;
      justify-content: space-between;
      min-width: 300px;
      
    }
    
    .navebar a {
      color:var(--min-background-color);
      font-weight: bolder;
      text-decoration: underline;
      text-decoration-color:var(--min-background-color);
    }
    
    .navebar a:hover {
      color:var(--text-coloer);
      text-decoration-color: var(--text-coloer); 
    }
    .hero {
        width: 100%;
        height: 150px;
        margin-bottom: 25px;
        background-image: url("./img/hero_section.jpg");
        background-size: cover;
        background-position: center;
      }
      
      main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      
      .first, .second, .therd{
        margin-bottom: 20px;
      }
      .section-container {
        display: flex;
        margin-left: 50px;
      }
      
      .l-sides {
        width: 300px;
        height: 300px;
        padding: 50px;
        
        
      }
      .header__left {
        display: flex;
        position:relative;
        bottom: 55px;
        left: 30px; 
        font-size: 40px;
        color: grey;
        margin: 0 5% 1% 5%;
        text-align:right;
      }
      
      .r-sides {
        margin-bottom: 25px;
        border-left:5px solid var(--min-background-color);  
      }
      p {
        font-size: larger;
        margin-left: 15px; 
        margin-bottom: 25px;
      }
      .about-info {
        display: flex;
      }
      span {
        font-weight: 900;
        font-size: 23px; 
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        padding: 3rem;
      }
      
      .card {
      display: flex;
      flex-direction: column;
      flex: 1 0 300px;
      max-width: 450px ;
      overflow: hidden;
      background: #ffffff;
      color: #000000;
      border-radius: 5px;
      box-shadow: 3px 2px 14px rgba(#262631,0.4);
      text-decoration: none;
      
      } 
      
      .cards div:nth-child(1)
      {
        width: 100%;
      }
      .card__img{
        flex: 0 0 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        width: 400px;
        height: 300px;
      }
      .card__title {
        background-color: var(--min-background-color);
        color: var(--text-coloer);
        font-size: .75rem;
        font-weight: 700; 
      }
      
      .contact_list {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 200px;
        gap: 1;
        margin-left: 1.5rem;
      }

      